.friendsBlock {
    /*border: solid 1px black;*/
    color: rgb(73, 73, 73);
    width: 100%;
    margin: 0;
    padding: 0;
}

.friendsBlock h2 {
    padding: 0px 0px 0px 10px;
    text-align: left;
    /*border: solid 1px black;*/
    margin: 0;
}

.flexFriendsBlock {
    background: rgba(255, 250, 251, 0.59);

    padding: 5px 7px;
    box-sizing: border-box;

    overflow-x: hidden;
    /*overflow: scroll;*/

    font-weight: 600;
    display: flex;

    flex-wrap: wrap;

    /*border: solid 1px black;*/

    width: 95%;
    max-height: 180px;
    margin: 0 auto;
}

.flexFriendsBlock img {
    width: 50px;
    border-radius: 5px;
}

.subscriptionTitle {
    display: block;
    text-decoration: none;
    text-align: left;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
}

.subscriptionTitle:hover {
    text-decoration: underline;
}