.nav {
    border-radius: 5px;
    /*grid-column: 1/2;*/
    background: #ffaab896;
    text-align: center;
}

.sticky_div {
    position: sticky;
    position: -webkit-sticky;
    top: 50px; /* required */
}
