.nav {
    border-radius: 5px;
    /*grid-column: 1/2;*/
    background: #ffaab896;
    text-align: center;
}

.sticky_div {
    position: sticky;
    position: -webkit-sticky;
    top: 50px; /* required */
}

.sticky_div a {

    display: block;
    text-decoration: none;
    color: white;

    border-radius: 5px;
    border: solid 1px white;
    background: rgba(249, 26, 63, 0.84);

    width: 70%;
    height: 30px;
    box-sizing: border-box;

    padding: 2px 0px 0px 0px;
    margin: 30px auto;

    transition: all 0.1s;
}


.sticky_div a:last-child {
    margin-top: 50px;
}

.sticky_div a:first-child {
    margin-top: 40px;
}

.sticky_div a:hover {
    background: rgb(249, 26, 63);
    transform: scale(1.05);
}

.sticky_div a:active {
    background: rgb(201, 15, 47);
}

.sticky_div a[class='active'] {
    background: rgb(249, 26, 63);
    transform: scale(1.05);
}
