.flex_profile_info, .flex_myprofile_info {
    /*border: solid 1px black;*/
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    color: rgb(73, 73, 73);
}

.flex_myprofile_info {
    margin-bottom: 40px;
}

.space_instead_button {
    min-height: 40px;
}

.flex_profile_info div:nth-child(1), .flex_myprofile_info div:nth-child(1) {
    flex: 0 0 25%;
}

.flex_profile_info div:nth-child(2), .flex_myprofile_info div:nth-child(2) {
    flex: 0 0 50%;
}

.text_info div:not(:first-of-type, :last-of-type) {
    margin-bottom: 5px;
}

.username {
    /*border: solid 1px black;*/
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
}

.profile_photo, .my_profile_photo {
    width: 150px;
    border-radius: 5px;
}

.my_profile_photo {
    border: solid 3px #FA4A68;
}

.toggleFollowProsileButton {
    cursor: pointer;
    display: block;
    border: solid 1px white;
    border-radius: 5px;
    background: #f91a3fc4;
    color: white;
    outline: none;
    width: 150px;
    height: 35px;
    font-size: 16px;
    margin: 10px 0px 40px 0px;

}

.toggleFollowProsileButton:hover {
    background: #f91a3fe1;
}

.toggleFollowProsileButton:active {
    background: #f91a3f;
}